### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

### PyCharm ###
\.idea/

# binary
*.wav
*.npy
*npz

# dataset (too large)
dataset_gen/data

# job scripts (include student id)
job